<!DOCTYPE html>
<html>
<head>
	<script src="https://code.jquery.com/jquery-git.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<style type="text/css">
		.active{
			color : red;
		}
	</style>
	<title>Vue.js 시작하기</title>
</head>
<body>
	<div id="app">
		{{message}}
	</div>

	<div id="app-2">
	  <span v-bind:title="message">
	  	<!--
	  	 v-bind 속성은 디렉티브 라고 한다.
	  	 디렉티브는 Vue에서 제공하는 특수 속성이며
	  	 렌더링 된 DOM에 특수한 반응형 동작을 한다
	  	 -->
	    내 위에 잠시 마우스를 올리면 동적으로 바인딩 된 title을 볼 수 있습니다!
	  </span>
	</div>

	<div id="app-3">
		<!-- 
			조건문을 사용하여 요소를 보여줄지 말지 결정한다. 
			true에서 false로 바뀌면 요소를 삭제하고
			false에서 true로 다시 바뀌면 요소를 다시 새로 만든다.
		-->
	  <p v-if="seen">이제 나를 볼 수 있어요</p>
	</div>

	<div id="app-4">
	  <ol>
	  	<!-- 배열을 사용하여 반복적인 요소를 만들 수 있다. -->
	    <li v-for="todo in todos">
	      {{ todo.text }}
	    </li>
	  </ol>
	</div>

	<div id="app-5">
	  <p>{{ message }}</p>
	  <!-- 
	  	v-on 디렉티브를 사용하여 Vue 인스턴스에 
	  	메소드를 호출하는 이벤트 리스너를 첨부 할 수 있다. 
	  -->
	  <button v-on:click="reverseMessage">메시지 뒤집기</button>
	</div>

	<div id="app-6">
	  <p>{{ message }}</p>
	  <!-- 
			v-model 디렉티브는 입력과 
			앱 상태를 양방향으로 바인딩한다.
	   -->
	  <input v-model="message">
	</div>

	<div id="app-7">
	  <ol>
	    <!-- 
	      이제 각 todo-item 에 todo 객체를 제공합니다.
	      화면에 나오므로, 각 항목의 컨텐츠는 동적으로 바뀔 수 있습니다. 
	      또한 각 구성 요소에 "키"를 제공해야합니다 (나중에 설명 됨).
	     -->
	    <todo-item
	      v-for="item in groceryList"
	      v-bind:todo="item"
	      v-bind:key="item.id">
	    </todo-item>
	  </ol>
	</div>

<script type="text/javascript">
	var app = new Vue({
		el:'#app',
		data:{//데이터와 DOM이 연결되어 반응형이 된다.
			message:'안녕하세요 Vue.js!'
		},
	});	

	$('#app').click(e=>{
		//데이터가 변하는 순간 DOM의 메시지도 동시에 바뀐다.
		app.message += '!';
	});

	var app2 = new Vue({
	  el: '#app-2',
	  data: {
	    message: '이 페이지는 ' + new Date() + ' 에 로드 되었습니다'
	  }
	});

	var app3 = new Vue({
	  el: '#app-3',
	  data: {
	    seen: true
	  }
	});

	var app4 = new Vue({
	  el: '#app-4',
	  data: {
	    todos: [
	      { text: 'JavaScript 배우기' },
	      { text: 'Vue 배우기' },
	      { text: '무언가 멋진 것을 만들기' }
	    ]
	  }
	});

	$('#app-4').click(e=>{
		//배열에 새로운 데이터가 추가되면 자동적으로 새 요소가 만들어 집니다.
		app4.todos.push({text:'새로운 아이템'});
	});

	var app5 = new Vue({
	  el: '#app-5',
	  data() {
	    return{message: '안녕하세요! Vue.js!'}
	  },
	  methods: {
	    reverseMessage() {
	      this.message = this.message.split('').reverse().join('')
	    }
	    // 아래는 튜토리얼에 소개된 문법
	    // reverseMessage: function () {
	    //   this.message = this.message.split('').reverse().join('')
	    // }
	  }
	});

	var app6 = new Vue({
	  el: '#app-6',
	  data: {
	    message: '안녕하세요 Vue!'
	  }
	});

	/*
		component는 미리 정의된 옵션을 가진 
		Vue 인스턴스이다.
	*/
	Vue.component('todo-item', {	  
	  // 이제 todo-item 컴포넌트는 "prop" 이라고 하는
	  // 사용자 정의 속성 같은 것을 입력받을 수 있습니다.
	  // 이 prop은 todo라는 이름으로 정의했습니다.
	  props: ['todo'], 
	  //이제 <todo-item> 라는 태그를 선언하면 
	  //다음과 같은 템플릿으로 요소가 만들어진다.
	  template: '<li>{{ todo.text }}</li>'
	});

	var app7 = new Vue({
	  el: '#app-7',
	  data: {
	    groceryList: [
	      { id: 0, text: 'Vegetables' },
	      { id: 1, text: 'Cheese' },
	      { id: 2, text: 'Whatever else humans are supposed to eat' }
	    ]
	  }
	});
</script>
</body>
</html>